/*
 * @contribution @r_chancay @Junior_eLZambo
 * @author @r_chancay @Junior_eLZambo
 * @date 10/01/15
 */

//@import "nib"
//@import "nib/vendor"

//vendor-prefixes = webkit moz o ms 

color_nav_social = #141412
links_color      = #577C99
font_color       = #76726F

.active
	text-decoration underline !important

.sinUnderline
	text-decoration none !important

body 
	font-family 'Lato', sans-serif
	font-size 16px
	margin  0
	overflow-x hidden
	padding 0
	background url('https://farm9.staticflickr.com/8638/16329138786_3606758016_o.jpg')
	background-repeat no-repeat
	background-size cover

@import "modules/header.styl"
@import "modules/content.styl"
@import "modules/portfolio.styl"